@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-darkGreen to-darkBlue
}

.sectionContainer {
  @apply mx-marginX my-marginY
}

.noScrollBar::-webkit-scrollbar {
  display: none; /* Ocultar scroll en navegadores basados en WebKit */
}

.noScrollBar {
  -ms-overflow-style: none; /* Ocultar scroll en Internet Explorer y Edge */
  scrollbar-width: none; /* Ocultar scroll en Firefox */
}

.h1 {
  @apply font-RobotoCondensed font-bold text-5xl uppercase
}

.h2 {
  @apply font-RobotoCondensed font-bold text-4xl uppercase
}

.h3 {
@apply font-RobotoCondensed font-bold text-2xl uppercase
}

.label {
  @apply font-RobotoCondensed font-semibold text-base uppercase
}

.body {
  @apply font-Roboto font-normal text-base
}

.bodyBold {
  @apply font-Roboto font-bold text-base
}

.buttonNavBar {
  color: #DBE2EC;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  @apply font-RobotoCondensed font-medium text-sm
}

.buttonNavBar:focus,
.buttonNavBar:hover {
  color: #C2F22D;
}

.buttonNavBar:focus:after,
.buttonNavBar:hover:after {
  width: 100%;
  left: 0%;
}

.buttonNavBar:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #C2F22D;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.buttonNavBar--active {
  color: #C2F22D;
}

.buttonNavBar--active:after {
  width: 100%;
  left: 0%;
}

.buttonPrimary {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: .3s;
  z-index: 1;
  @apply px-5 py-2 font-RobotoCondensed font-semibold text-sm rounded-full border border-lightGreen bg-lightGreen text-darkBlue flex items-center gap-2 w-fit
 }
 
 .buttonPrimary::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: .5s ease;
  display: block;
  z-index: -1;
  @apply bg-darkGreen
 }
 
 .buttonPrimary:hover::before {
  width: 105%;
 }
 
 .buttonPrimary:hover {
  @apply text-white border border-darkGreen
 }

 .buttonSecondary {
  @apply px-5 py-2 font-Roboto font-normal text-base text-lightGreen flex flex-row gap-2 items-center
  hover:text-white
 }

 .iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; 
  @apply px-5 py-2 font-RobotoCondensed font-semibold text-sm text-darkBlue bg-white rounded-full;
}

.iconButton span {
  display: block;
  margin-left: 32px;
  transition: all 0.1s ease-in-out;
}

.iconButton .MuiSvgIcon-root {
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  position: absolute; 
  left: 20px;
}

.iconButton:hover {
  @apply bg-lightBlue;
}

.iconButton:hover .MuiSvgIcon-root {
  left: calc(50% - 24px);
  transform: translateX(50%) scale(1.2);
  color: #dbe2ec;
}

.iconButton:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.iconButton:active {
  transform: scale(0.95);
}

.iconButton2 {
  @apply text-base p-2 border-white border-2 text-white rounded-full flex items-center justify-center
  hover:bg-lightBlue 
  hover:border-lightBlue
}

.iconButton2:hover .MuiSvgIcon-root {
  transform: translateX(0) scale(1.2);
}










